.reserveInput {
  padding: 12px;
  cursor: pointer;
}

.reserveLabel {
  font-size: 12px;
}
.reserveSpan {
  display: none;
  font-size: 12px;
  margin: 7px;
  color: red;
}

.reserveInput:invalid[focused="true"] {
  border: 2px solid red;
}

.reserveInput:invalid[focused="true"] ~ span {
  display: block;
}
