input {
  padding: 12px;

}
label {
  font-size: 12px;
}
span {
  display: none;
  font-size: 12px;
  margin: 7px;
  color: red;
}


input:invalid[focused="true"] {
  border: 2px solid red;
}


input:invalid[focused="true"] ~ span{
  display: block;
}