input {
  padding: 12px;
  margin: 10px 0px;
}
label {
  font-size: 12px;
}
span {
  display: none;
  font-size: 12px;
  padding: 3px;
  color: red;
}

input:invalid ~ span {
  display: block;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focosed="true"] ~ span {
  display: block;
}
