/* footer */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:wght@500&family=Style+Script&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --col-green: #495e57;
  --col-yellow: #f4ce14;
  --col-grey: #d9d9d9;
  --col-blue: #4454eb;
  --col-dark: #333333;
  --col-red: #c32300;
}
.footer {
  background-color: #495e57;
  height: 40vh;
  padding-bottom: 3rem;
  color: white;
}

.footer-container {
  height: 100%;
  width: 90%;
  margin: auto;
}

.footer-details-container {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  flex: 1;
  display: flex;
  justify-content: center;
}
.footer-logo img {
  width: 7rem;
  height: 6rem;
}
.footer-details {
  flex: 2;
  display: flex;
  justify-content: center;
}

.footer-details h1 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #f4ce14;
}

.footer-details p {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 1rem;
  cursor: pointer;
}
.footer-details p:hover {
  color: #f4ce14;
}
.adress {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 2rem;
  margin-left: 2rem;
}

.details {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 2rem;
  margin-left: 2rem;
}
.details li {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 1rem;
  cursor: pointer;
}

.details li:hover {
  color: #f4ce14;
  text-decoration: underline;
}
.contactUs {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.footer-socials {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.copyRights {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.copyRights a {
  color: #f4ce14;
}
.copyRights a:hover {
  text-decoration: underline;
}

.line {
  margin: 0.5rem;
  width: 100%; /* Adjust the width of the line as needed */
  height: 1px; /* Adjust the thickness of the line as needed */
  background-color: rgb(
    153,
    150,
    150
  ); /* Adjust the color of the line as needed */
}
.socialMedia {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  width: 100%;
}

.socialMedia svg {
  width: 1rem;
}
.facebook,
.instagram,
.twitter {
  padding: 1rem;
  margin: 1rem;
  background-color: #333333;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.facebook:hover,
.instagram:hover,
.twitter:hover {
  background-color: var(--col-yellow);
}
.facebook svg {
  height: 20px;
}
.facebook:hover svg path {
  fill: var(--col-dark); /* Replace with the desired hover color */
}
.instagram:hover svg path {
  fill: var(--col-dark); /* Replace with the desired hover color */
}
.twitter:hover svg path {
  fill: var(--col-dark); /* Replace with the desired hover color */
}

@media (max-width: 700px) {
  .footer {
    height: auto;
  }

  .footer-container {
    margin: auto;
  }

  .footer-logo {
    display: none;
  }
  .footer-details {
    flex-direction: column;
  }
  .adress,
  .details,
  .contactUs {
    text-align: center;
    margin: 0px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
  }

  .footer-socials {
    margin-top: 4rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .socialMedia {
    justify-content: center;
    margin-top: 2rem;
  }
}
